/*--------------------------------------------------------------
    # EMBED
--------------------------------------------------------------*/
.wp-block-embed__wrapper {
    position: relative;
}

.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
    padding-top: calc(100% / 16 * 9);
}

.wp-embed-aspect-16-10 .wp-block-embed__wrapper {
    padding-top: calc(100% / 16 * 10);
}

.wp-embed-aspect-4-3 .wp-block-embed__wrapper {
    padding-top: calc(100% / 4 * 3);
}

.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe,
.wp-embed-aspect-16-10 .wp-block-embed__wrapper iframe,
.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}