:root {
  --gutter: 2.4rem;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-1: #058935;
  --color-2: #1f518e;
  --color-3: #7c0202;

  --color-4: #141414;
  --color-5: #c4c4c4;
  --color-6: #212121;
}

/*--------------------------------------------------------------
  # VERTICAL RHYTHM
    - Every Element has a margin top except the first one
    - also nested
--------------------------------------------------------------*/

.entry-content * {
  margin-top: 0;
  margin-bottom: 0;
}

/* 
.entry-content *+* {

} */

.entry-content > *, 
[class*=inner-container] > * {
  margin-top: var(--vertical-rhythm, var(--gutter));
} 

.entry-content > *, 
[class*=inner-container] > * {
  margin-top: var(--vertical-rhythm, var(--gutter));
}

/*--------------------------------------------------------------
  # VERTICAL RHYTHM EXCEPTIONS
    Elements that are arranged after another
    - headings
    - elements with background color
--------------------------------------------------------------*/

.alignfull+.alignfull {
  margin-top: 0;
}

.has-background+.has-background {
  margin-top: 0;
}

.entry-content *:is(h1, h2, h3, h4, h5, h6)+*:is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}

.wp-block-cover>img {
  margin-top: 0;
}

.wp-block-media-text__content {
  margin-top: 0;
}

.wp-block-cover__inner-container {
  margin-top: 0;
}

.blocks-gallery-item {
  margin-top: 0;
}

.wp-block-column {
  margin-top: 0;
}

.entry-content ul:not([class]) li,
.entry-content ol:not([class]) li,
.entry-content dl:not([class]) dt {
  margin-top: 0;
}

.wp-block-latest-posts > li {
  margin-top: 0;
}

/*--------------------------------------------------------------
    # add padding if background or dim
--------------------------------------------------------------*/

[class*="has-background"] {
  padding: var(--gutter);
}


/*--------------------------------------------------------------
# TEXT ALIGN
--------------------------------------------------------------*/
.has-text-align-left {
  text-align: left;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

.has-text-align-justify {
  text-align: justify;
}
