/*--------------------------------------------------------------
# CONTENT WIDTHS
  - 3 Widths are available by default 
  - Widths can be set in the customizer
--------------------------------------------------------------*/

.entry-content .alignfull, .entry-content .alignwide, .entry-content>*:not(.alignwide):not(.alignfull) {
    margin-left: auto;
    margin-right: auto;
  }
  
  .alignfull {
    max-width: var(--max-width-1);
  }
  
  .alignwide {
    max-width: var(--max-width-2);
  }
  
  /* content without wide or full */
  
  .entry-content>*:not(.alignwide):not(.alignfull) {
    max-width: var(--max-width-3);
  }
  
  /* add default padding for mobile */
  
  .entry-content>* {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
  
  /*--------------------------------------------------------------
  # VERTICAL RHYTHM
    - Every Element has a margin top except the first one
    - also nested
  --------------------------------------------------------------*/
  
  .entry-content * {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .entry-content *+* {
    margin-top: var(--vertical-rhythm);
  }
  
  /*--------------------------------------------------------------
  # VERTICAL RHYTHM EXCEPTIONS
    Elements that are arranged after another
    - headings
    - elements with background color
  --------------------------------------------------------------*/
  
  .alignfull+.alignfull {
    margin-top: 0;
  }
  
  .has-background+.has-background {
    margin-top: 0;
  }
  
  .entry-content *:is(h1, h2, h3, h4, h5, h6)+*:is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0;
  }
  
  .wp-block-cover>img {
    margin-top: 0;
  }
  
  .wp-block-media-text__content {
    margin-top: 0;
  }
  
  .wp-block-cover__inner-container {
    margin-top: 0;
  }
  
  .blocks-gallery-item {
    margin-top: 0;
  }
  
  .wp-block-column {
    margin-top: 0;
  }
  
  .wp-block-button {
    margin-top: 0;
  }
  
  .entry-content ul:not([class]) li, .entry-content ol:not([class]) li, .entry-content dl:not([class]) dt {
    margin-top: 0;
  }
  
  /*--------------------------------------------------------------
  # BLOCK GROUP
  --------------------------------------------------------------*/
  
  [class*="__inner-container"]>*:not([class*="align"]) {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(var(--max-width-3) - var(--gutter) * 0);
    width: 100%;
  }
  
  /*--------------------------------------------------------------
  # PARAGRAPH
  --------------------------------------------------------------*/
  
  .has-drop-cap:first-letter {
    float: left;
    font-size: var(--font-size-c);
    line-height: 1;
    padding-right: 0.125em;
  }
  
  .has-drop-cap {
    display: flow-root;
  }
  
  /*--------------------------------------------------------------
    # BLOCK COVER
      fixed image
      repeated
    --------------------------------------------------------------*/
  
  .wp-block-cover {
    position: relative;
    min-height: calc(var(--containerquery) * 9 / 16 * 2 / 3);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .wp-block-cover__inner-container {
    position: relative;
    z-index: 10;
  }
  
  .wp-block-cover>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
  }
  
  /* OVERLAY */
  
  .wp-block-cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    opacity: 0;
    pointer-events: none;
  }
  
  /* default dim and color */
  
  .has-background-dim:not([class*="background-color"])::after {
    background-color: var(--color-black);
    opacity: 0.5;
  }
  
  .has-background-dim {
    color: var(--color-white);
  }
  
  /* OPACITY Overlay */
  
  .has-background-dim-10::after {
    opacity: 0.1;
  }
  
  .has-background-dim-20::after {
    opacity: 0.2;
  }
  
  .has-background-dim-30::after {
    opacity: 0.3;
  }
  
  .has-background-dim-40::after {
    opacity: 0.4;
  }
  
  .has-background-dim::after {
    opacity: 0.5;
  }
  
  .has-background-dim-60::after {
    opacity: 0.6;
  }
  
  .has-background-dim-70::after {
    opacity: 0.7;
  }
  
  .has-background-dim-80::after {
    opacity: 0.8;
  }
  
  .has-background-dim-90::after {
    opacity: 0.9;
  }
  
  .has-background-dim-100::after {
    opacity: 1;
  }
  
  /* BACKGROUND FIXED */
  
  .wp-block-cover.has-parallax {
    background-attachment: fixed;
  }
  
  /* BACKGROUND REPEAT */
  
  .wp-block-cover.is-repeated {
    background-repeat: repeat;
    background-size: auto;
  }
  
  /* COVER CONTENT POSITION */
  
  .wp-block-cover[class*="top"] {
    justify-content: flex-start;
  }
  
  .wp-block-cover[class*="left"] {
    align-items: flex-start;
  }
  
  .wp-block-cover[class*="right"] {
    align-items: flex-end;
  }
  
  .wp-block-cover[class*="bottom"] {
    justify-content: flex-end;
  }
  
  /* GRADIENT */
  
  .wp-block-cover__gradient-background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /*--------------------------------------------------------------
    # MEDIA TEXT
    - wp-block-media-text 
    - has-media-on-the-right 
    - is-stacked-on-mobile 
    - is-image-fill
  --------------------------------------------------------------*/
  
  .wp-block-media-text {
    display: flex;
    gap: var(--gutter);
  }
  
  .wp-block-media-text>* {
    flex-basis: calc((var(--containerquery) - 100vw) * 999);
    flex-grow: 1;
    min-width: calc(100% / 2 - var(--gutter));
  }
  
  .wp-block-media-text__media img {
    width: 100%;
  }
  
  /* has-media-on-the-right */
  
  .wp-block-media-text.has-media-on-the-right {
    direction: rtl;
  }
  
  .wp-block-media-text.has-media-on-the-right>* {
    direction: ltr;
  }
  
  /* is-stacked-on-mobile */
  
  .wp-block-media-text.is-stacked-on-mobile {
    flex-wrap: wrap;
  }
  
  /* is-image-fill */
  
  .is-image-fill .wp-block-media-text__media {
    background-size: cover;
  }
  
  .is-image-fill .wp-block-media-text__media img {
    opacity: 0;
    height: 100%;
    object-fit: cover;
  }
  
  /* vertical align */
  
  .wp-block-media-text.is-vertically-aligned-top {
    align-items: flex-start;
  }
  
  .wp-block-media-text.is-vertically-aligned-bottom {
    align-items: flex-end;
  }
  
  .wp-block-media-text.is-vertically-aligned-center {
    align-items: center;
  }
  
  .wp-block-media-text:not([class*="is-vertically-aligned"]) img {
    height: 100%;
    object-fit: cover;
  }
  
  /*--------------------------------------------------------------
    # BLOCK IMAGE
    --------------------------------------------------------------*/
  
  .wp-block-image {
    display: flow-root;
  }
  
  .wp-block-image.alignfull {
    padding: initial;
  }
  
  .wp-block-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .wp-block-image.size-full img, .wp-block-image .alignleft img, .wp-block-image .alignright img, .wp-block-image .aligncenter img {
    max-width: none;
    width: 100%;
  }
  
  .wp-block-image figcaption {
    text-align: center;
    margin-top: calc(var(--gutter) / 2);
  }
  
  /* BLOCK IMAGE ROUNDED */
  
  .wp-block-image.is-style-rounded img {
    border-radius: 9999rem;
    overflow: hidden;
  }
  
  /*--------------------------------------------------------------
    # BLOCK GALLERY
      is-cropped
      columns-2
      columns-3
      columns-4
      columns-5
      columns-6
      columns-7
      columns-8
    
      source: https://www.youtube.com/watch?v=RUyNJaoJH_k
    --------------------------------------------------------------*/
  
  .wp-block-gallery {
    /* display: flow-root; */
  }
  
  /* I DONT THINK THIS SHOULD EVER FLOAT */
  
  .wp-block-gallery.alignright, .wp-block-gallery.alignleft, .wp-block-gallery.aligncenter {
    float: none;
  }
  
  /* .alignfull.wp-block-gallery {
    padding: initial;
  } */
  
  .blocks-gallery-grid {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: var(--gutter);
  }
  
  .blocks-gallery-item {}
  
  .blocks-gallery-item>figure {
    position: relative;
    display: grid;
    /* display: flow-root; */
  }
  
  .blocks-gallery-item>figure>* {
    grid-column: 1;
    grid-row: 1;
  }
  
  .blocks-gallery-item>figure>a {
    display: block;
  }
  
  /*  is-cropped */
  
  .is-cropped .blocks-gallery-item>figure, .is-cropped .blocks-gallery-item>figure>a {
    height: 100%;
    width: 100%;
  }
  
  .is-cropped .blocks-gallery-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: none;
  }
  
  /* CAPTION */
  
  .blocks-gallery-item__caption {
    align-self: flex-end;
    padding: calc(var(--gutter) * 0.5);
    text-align: center;
    color: var(--color-white);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  }
  
  /* COLUMNS */
  
  .columns-2.wp-block-gallery .blocks-gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .columns-3.wp-block-gallery .blocks-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .columns-4.wp-block-gallery .blocks-gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .columns-5.wp-block-gallery .blocks-gallery-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .columns-6.wp-block-gallery .blocks-gallery-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  
  .columns-7.wp-block-gallery .blocks-gallery-grid {
    grid-template-columns: repeat(7, 1fr);
  }
  
  .columns-8.wp-block-gallery .blocks-gallery-grid {
    grid-template-columns: repeat(8, 1fr);
  }
  
  /*--------------------------------------------------------------
    # BLOCK COLUMNS
    --------------------------------------------------------------*/
  
  .wp-block-columns {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
  }
  
  .wp-block-column {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  
  .wp-block-column.is-vertically-aligned-top {
    align-self: flex-start;
  }
  
  .wp-block-column.is-vertically-aligned-center {
    align-self: center;
  }
  
  .wp-block-column.is-vertically-aligned-bottom {
    align-self: flex-end;
  }
  
  @media (min-width: 768px) {
    .wp-block-columns {
      flex-wrap: nowrap;
    }
    .wp-block-column[style*="flex-basis"] {
      flex-grow: 0;
    }
    .wp-block-columns .wp-block-column {
      flex-shrink: initial;
      flex-basis: 0;
    }
  }
  
  /*--------------------------------------------------------------
    # BLOCK BUTTONS
      is-content-justification-center
    --------------------------------------------------------------*/
  
  .wp-block-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gutter) * 1);
  }
  
  .wp-block-button__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  
  .is-content-justification-center {
    justify-content: center;
  }
  
  
  .is-content-justification-right {
    justify-content: flex-end;
  }
  
  /*--------------------------------------------------------------
    # EMBED
    --------------------------------------------------------------*/
  
  .wp-block-embed__wrapper {
    position: relative;
  }
  
  .wp-embed-aspect-16-9 .wp-block-embed__wrapper {
    padding-top: calc(100% / 16 * 9);
  }
  
  .wp-embed-aspect-16-10 .wp-block-embed__wrapper {
    padding-top: calc(100% / 16 * 10);
  }
  
  .wp-embed-aspect-4-3 .wp-block-embed__wrapper {
    padding-top: calc(100% / 4 * 3);
  }
  
  .wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe, .wp-embed-aspect-16-10 .wp-block-embed__wrapper iframe, .wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /*--------------------------------------------------------------
    # add padding if background or dim
    --------------------------------------------------------------*/
  
  [class*="has-background"] {
    padding: var(--gutter);
  }
  
  /*--------------------------------------------------------------
    # LISTS
  --------------------------------------------------------------*/
  
  .entry-content ul:not([class]), .entry-content ol:not([class]), .entry-content dl:not([class]) {
    padding-left: 2.5em;
  }
  
  /*--------------------------------------------------------------
    # VIDEO
  --------------------------------------------------------------*/
  
  .wp-block-video video {
    width: 100%;
  }
  
  /*--------------------------------------------------------------
    # BLOCK CODE
  --------------------------------------------------------------*/
  
  .wp-block-code {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-white);
    padding: var(--gutter);
    font-family: var(--font-family-3);
    font-weight: normal;
  }
  
  /*--------------------------------------------------------------
    # BLOCK QUOTE
  --------------------------------------------------------------*/
  
  .wp-block-quote {
    position: relative;
    padding-left: var(--gutter);
    margin-left: 0;
    margin-right: 0;
    font-family: var(--font-family-2);
  }
  
  .wp-block-quote::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--color-black);
    opacity: .125;
  }
  
  .wp-block-quote cite {
    display: block;
    margin-top: calc(var(--gutter) * .5);
    font-style: normal;  
    font-family: var(--font-family-1);
    font-size: var(--font-size-9);
  }
  
  .wp-block-quote cite::before {
    content: "\2014\00a0";
  }
  
  /* LARGE */
  .wp-block-quote.is-style-large {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
  }
  
  .wp-block-quote.is-style-large::before {
    content: none;
  }
  
  /*--------------------------------------------------------------
    # PULLQUOTE
  --------------------------------------------------------------*/
  
  .wp-block-pullquote blockquote {
    margin-left: 0;
    margin-right: 0;
  }
  
  /*--------------------------------------------------------------
    # SPACER
  --------------------------------------------------------------*/
  .wp-block-spacer.is-style-gutter {
    max-height: var(--gutter);
    margin-top: 0;
  }
  
  /*--------------------------------------------------------------
    # SOCIAL MEDIA
  --------------------------------------------------------------*/
  .wp-block-social-links {
    list-style-type: none;
  }
  
  .wp-social-link {
    display: inline-block;
    margin-top: 0;
  }
  
  .wp-block-social-link-anchor {
    display: block;
  }
  