:root {
  --gutter: 2.4rem;
}

/*--------------------------------------------------------------
# CONTENT WIDTHS
  - 3 Widths are available by default 
  - Widths can be set in the customizer
--------------------------------------------------------------*/
/* 
.entry-content .alignfull,
.entry-content .alignwide,
.entry-content>*:not(.alignwide):not(.alignfull) {
  margin-left: auto;
  margin-right: auto;
}

.alignfull {
  max-width: var(--max-width-1);
}

.alignwide {
  max-width: var(--max-width-2);
}

.entry-content>*:not(.alignwide):not(.alignfull) {
  max-width: var(--max-width-3);
}



.entry-content>* {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
} 
*/

/*--------------------------------------------------------------
  # VERTICAL RHYTHM
    - Every Element has a margin top except the first one
    - also nested
--------------------------------------------------------------*/

.entry-content * {
  margin-top: 0;
  margin-bottom: 0;
}

.entry-content *+* {
  margin-top: var(--vertical-rhythm, var(--gutter));
}

/*--------------------------------------------------------------
  # VERTICAL RHYTHM EXCEPTIONS
    Elements that are arranged after another
    - headings
    - elements with background color
--------------------------------------------------------------*/

.alignfull+.alignfull {
  margin-top: 0;
}

.has-background+.has-background {
  margin-top: 0;
}

.entry-content *:is(h1, h2, h3, h4, h5, h6)+*:is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}

.wp-block-cover>img {
  margin-top: 0;
}

.wp-block-media-text__content {
  margin-top: 0;
}

.wp-block-cover__inner-container {
  margin-top: 0;
}

.blocks-gallery-item {
  margin-top: 0;
}

.wp-block-column {
  margin-top: 0;
}

.wp-block-button {
  margin-top: 0;
}

.entry-content ul:not([class]) li,
.entry-content ol:not([class]) li,
.entry-content dl:not([class]) dt {
  margin-top: 0;
}

/*--------------------------------------------------------------
    # add padding if background or dim
--------------------------------------------------------------*/

[class*="has-background"] {
  padding: var(--gutter);
}